/*----- About us content -----*/

.Aboutuscontent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*----- About TPF -----*/ 

.aboutTPF{
    width: 60%;
    margin: 0 auto;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px black;
    padding-bottom: 20px;
    margin-top: 100px;
}
.whotext h2{
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}
.aboutTPFh3{
    margin-left: 8%;
    font-style: italic;
    font-size: 22px;
    color: orange;
    font-weight: bolder;
    margin-bottom: 10px;
}
.aboutTPFp{
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
    line-height: 120%;
    margin-bottom: 40px;
}


.whoimg{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Aboutuscontent img{
    width: 70%;
    height: auto;
    margin: 0 auto;
    margin: 5px;
    margin-bottom: 20px;
    border: solid white 1px;
    
}

/*----- About guide -----*/ 

.aboutguide{
    width: 70%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}
.aboutguide h2{
    text-align: center;
    margin-bottom: 10px;
}
.oneguide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 2px black;

}
.oneguide:hover{
    border: solid 4px black;
}

.guideimg{
    width: 65%;
    overflow: hidden;
}
.guideimg1{
    width: 65%;
    overflow: hidden;
}
.guideimg2{
    width: 65%;
    overflow: hidden;
}
.guideimg img{
    width: 80%;
    height: auto;
    aspect-ratio: 1/1.2;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 50px;
    padding-top: 50px;
    transform:scale(1,1);transition: all 0.5s ease-out;
}
.guideimg1 img{
    width: 80%;
    height: auto;
    aspect-ratio: 1/1.2;
    object-fit: cover;
    object-position: right;
    margin: 0 auto;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 50px;
    padding-top: 50px;
    transform:scale(1,1);transition: all 0.5s ease-out;
}
.guideimg2 img{
    width: 80%;
    height: auto;
    aspect-ratio: 1/1.2;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 50px;
    padding-top: 50px;
    transform:scale(1,1);transition: all 0.5s ease-out;
}
.guideimg img:hover{
    transform:scale(1.15,1.15);
}
.guideimg1 img:hover{
    transform:scale(1.15,1.15);
}
.guideimg2 img:hover{
    transform:scale(1.15,1.15);
}
.guidetext{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.name{
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
    color:orange;
}
.aboutusp{
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    line-height: 120%;
}

@media (max-width:992px) {
    .aboutTPF{
        width: 80%;
    }
    .oneguide{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }   
    .guideimg{
        width: 90%;
        margin-top: 50px;
    }
    .guideimg1{
        width: 90%;
        margin-top: 50px;
    }
    .guideimg2{
        width: 90%;
        margin-top: 50px;
    }
    .guidetext{
        width: 90%;
    }
}
@media (max-width:767px) {
    .aboutTPF{
        width: 90%;
    }
    .whoimg{
        margin-bottom: 60px;
    }
    .aboutguide{
        width: 85%;
    }
    .guideimg{
        width: 90%;
    }
    .guideimg1{
        width: 90%;
    }
    .guideimg2{
        width: 90%;
    }

    
}