/*------Reset-----*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----Var-----*/

:root{
    --color-lightgreen: #a2ab3a;
    --color-darkgreen: #404909;
    --color-brown: #aeaea7c4;
    --font: Microsoft Sans Serif;
    --shadow-color: rgb(140, 234, 140);
}
h2{
    text-shadow: 10px 5px 5px #ccc;
    font-size: 28px;
}


/*------Start from here-----*/

.Wrap{
    max-width: 1920px;
    margin: 0 auto;
    font-family: var(--font);
    background-color: white;
}


/*-----Header-----*/

.Header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    scroll-snap-align: start;
    position: fixed;
    top: 0;
    background-color: white;
    z-index:100;
}
.headertext{
    width: 99%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.smartphoneheader{
    display: none;
}
.logo{
    width: 110px;
    height: auto;
    margin: 5px;
}
.headertexta{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 18px;
}
.headertexta:hover{
    color: black;
    text-decoration: underline;
    padding: 7px;
}
.headertextalan{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 18px;
}
.headertextalan:hover{
    border-radius: 40px;
    text-decoration: underline;
    padding: 6px;
}
.headertextanow{
    text-decoration: none;
    color: white;
    background-color: rgb(183, 183, 183);
    font-weight: bolder;
    font-size: 18px;
    border-radius: 30px;
    padding: 6px;
}
.newopen{
    text-decoration: none;
    color: red;
    font-weight: bolder;
    font-size: 18px;
}
.newopen:hover{
    color: red;
    text-decoration: underline;
    padding: 6px;

}
@media (max-width:992px) {
    .headertexta{
        font-size: 18px;
        padding: 5px;
    }
    .newopen{
        font-size: 18px;
        padding: 5px;
    }
    .smartphoneheader{
        display: none;
    }
}

@media (max-width:767px) {
    .smartphoneheader{
        display: block;
        width: 99%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .headertext{
        display: none;
    }

    
}

/*-----Footer-----*/
.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.infologo{
    width: 20%;
    padding-left: 5%;
    padding-bottom: 20px;
}
.infologoimg{
    max-width: 150px;
}
.infoleft{
    width: 30%;
    padding: 20px;
}
.infoh3{
    font-size: 18px;
    font-weight: bolder;
    color: black;
    margin: 3px;
    line-height: 120%;
}
.infolefta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;

}
.infoa{
    font-size: 12px;
    color: black;
    line-height: 120%;
}
.inforight{
    width: 30%;
    padding: 20px;
} 
.infop{
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 120%;
}
.infop a{
    color: black;
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: orange;
}
.Footer a img{
    max-width: 30px;
    max-height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width:992px) {
    .infologo{
        width: 20%;
    }
    .infologoimg{
        width: 90%; 
    }
    
}
@media (max-width:767px) {
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .infologo{
        width:40%;
    }
    .infologoimg{
        width: 50%; 
    }
    .infoleft{
        width: 60%;
    }
    .inforight{
        width: 60%;
    }
}