
/*-----Banner-----*/

.Banner{
    width: 90%;
    height: 85vh;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 80px;
}
.carousel-item img{
    width: 100%;
    height: 85vh;
    aspect-ratio: 13/6;
    object-fit: cover;
}


@media (max-width:767px) {
    .Banner{
        height: 50vh;
    }
}
@media (max-width:767px) {
    .Banner{
        height: 50vh;
        margin-bottom: 50px;
        padding-top: 50px;
    }
    .carousel-item img{
        width: 98%;
        height: 50vh;
        aspect-ratio: 7/5;
        object-fit: cover;
    }
}


/*-----Who we are-----*/

.Whoweare{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 228, 181);
    
}
.whoWeAreInsideBox{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: white;
    border-radius: 20px;
    
}
.whotext{
    position: relative;
    width: 60%;
}
.whotext h2{
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.whotext p{
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    line-height: 120%;
    padding-bottom: 15px;
}
.whoimg{
    width: 60%;
    height: auto;
}
.whoimg img{
    width:90%;
    height: auto;
    border-radius: 20px;
}
.readmore{
    display: inline;
    color:white;
    margin: 5px;
    background-color: var(--color-darkgreen);
    border-radius: 40px;
    padding: 5px;
    position: absolute;
    right: 35px;
    bottom: 5px;
    text-decoration: none;
}
.readmore:hover{
    font-weight: bolder;
}
 strong {
    font-weight: bolder;
 }
 @media (max-width:992px) {
    .Whoweare{
        width: 90%;
    }
    .whoWeAreInsideBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .whoimg{
        margin-bottom: 50px;
        width: 100%;
    }
    .whoimg img{
        width: 100%;
    }
    .whotext p{
        margin-bottom: 1px;
        width: 99%;
    }
    .whotext{
        width: 99%;
        padding-bottom: 50px;
    }
    .readmore{
        position: absolute;
        right: 35px;
        bottom: 5px;   
    }
 }

 @media (max-width:767px) {
    .whoWeAreInsideBox{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
    }
    .whotext{
        padding-bottom: 50px;
        
    }
    .whotext p{
        margin-bottom: 1px;
    }
    .readmore{
        position: absolute;
        right: 35px;
        bottom: 5px;   
    }

    
}

/*-----What we provide-----*/

.Whatweprovide{
    width: 70%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 80px;
    margin-bottom: 30px;
    border-bottom:solid 0.5px black;
}
.Whatweprovide h2{
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
.adventurelist{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
}
.adventurelistlast{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
}
.oneadventure{
    width: 30%;
    border: solid 0.5px black;
    padding: 5px;
    margin-right: 25px;
    
}
.oneadventure:hover{
    border: solid 2px black ;
}
.adventureimg{
    overflow:hidden;
}
.oneadventure img{
    width: 98%;
    height: auto;
    padding: 3px;
    transform:scale(1,1);transition: all 0.5s ease-out;
}
.oneadventure img:hover{
    transform:scale(1.15,1.15);
}
.adventuretext{
    position: relative;
    padding-bottom: 50px;
    text-align: center;
}
.sort{
    color: blue;
    font-weight: bolder;
    font-size: 14px;
}
.onesort{
    margin-bottom: 0px;
}
.onesort:hover{
    color: rgb(51, 51, 142);
}
.adventuretext h3{
    font-weight: bolder;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: dashed 1px black;
    border-radius: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    
}
.adventuretext p{
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  padding: 3px;
  line-height: 120%;
}
h3 a{
    color: black;
    text-decoration: none;
}
h3 a:hover{
    color: rgb(51, 51, 142);
}
@media (max-width:992px) {
    .adventurelist{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }
    .oneadventure{
        width: 70%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}

@media (max-width:767px) {
    .Whatweprovide{
        width: 85%;
        margin:0 auto;
        
    }
    .adventurelist{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 10px;
        width: 99%;
        margin-left: 3%;
        margin-right: 3%;
        
    }
    .oneadventure{
        width: 99%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .sort{
        margin-bottom: 30px;
    }
    .readmore{
        bottom: 20px;
    }

    
}

/*-----Why choose us-----*/

.Whychooseus{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
    border-bottom:solid 0.5px black;
}
.whycontent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.whycontent img{
    margin: 20px;
    width: 30%;
    aspect-ratio: 1/1.2;
    object-fit: cover;
    object-position: center;
}
.Whychooseus h2{
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.Whychooseus ul{
    width: 50%;
    margin: 0 auto;
}
.Whychooseus ul li{
    margin-bottom: 20px;
}
.Whychooseus ul li p{
    margin-top: 5px;
}
@media (max-width:992px) {
    .Whychooseus{
        width: 90%;
    }
    .whycontent img{
        width: 40%;
    }

}

 @media (max-width:767px) {
    .whycontent{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .Whychooseus img{
        width: 80%;
    }
    .Whychooseus ul{
        width: 90%;
        margin: 0 auto;
    }
    .Whychooseus h2{
        margin-top: 20px;
    }

    
}

